@font-face {
    font-family: "GeneralSans Medium";
    src: url(font/GeneralSans-Medium.woff2);
}

@font-face {
    font-family: "GeneralSans Regular";
    src: url(font/GeneralSans-Regular.woff2);
}

@font-face {
    font-family: "GeneralSans Black";
    src: url(font/GeneralSans-Bold.woff2);
}

@font-face {
    font-family: "GeneralSans Bold";
    src: url(font/GeneralSans-Semibold.woff2);
}

body {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15vw;
    padding-right: 15vw;
}

.table-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    width: 100%;
    margin-bottom: 1em;
}

#data-table {
    flex-grow: 1;
    max-width: 75vw;
}

* {
    font-family: "GeneralSans Medium", sans-serif;
}

td {
    padding: 0.3em;
    font-size: 0.9em;
    //border: solid 1px;
    background-color: #f4f6f8;
    padding-left: 0.5em;
}

tr {
    margin-bottom: 2em;
}

th {
    font-family: "GeneralSans Regular", sans-serif;
    font-size: 0.9em;
    padding-bottom: 0.4em;
}

h1 {
    font-family: "GeneralSans Black", sans-serif;
    font-size: 40px;
    margin-bottom: 2em;
}

h2 {
    font-family: "GeneralSans Regular", sans-serif;
}

#formular-adaugare {
    display: flex;
    flex-direction: column;
    margin-left: 10em;
    order: 2;
}

form {
    display: flex;
    flex-direction: column;
}

#button_1 {
    color: white;
    background-color: #00c874;
    border-radius: 20px;
    max-width: 5em;
    border: none;
    font-size: 0.7em;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
}

#button_2 {
    color: white;
    background-color: #fdaa3d;
    border-radius: 20px;
    max-width: 5em;
    border: none;
    font-size: 0.7em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}

#button_3 {
    color: white;
    background-color: #e2445c;
    border-radius: 20px;
    max-width: 5em;
    border: none;
    font-size: 0.7em;
    padding-top: 0.5em;
    padding-bottom: 0.4em;
}

input {
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 5px;
    background-color: #f4f6f8;
    margin-bottom: 1em;
    border: none;
    height: 1.5em;
}

label {
    margin-left: 0.2em;
    margin-bottom: 0.2em;
    font-size: 0.9em;
}

#formulare {
    display: flex;
    flex-direction: row;
}

td:nth-child(5) {
    background-color: #6161ff;
    color: white;
}

td:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

td:nth-child(6) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#formular-stergere {
    order:3;
    margin-left: 10em;
}

#cars_collection {
    display: none;
}

#formulare {
    margin-top: 0em;
}